.containerLogin { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-color: #244BC5;
    background-size: cover;
    flex-direction: column;
}

.login-form {
    width: 20em;
}

.transparentInput {
    border-color: #6796af !important;
    outline: none;
    background: transparent !important;
    text-align: center;
    color: #F1F2EF !important;
}

.transparentInput input {
    background-color: transparent !important;
    color: #F1F2EF !important;
    margin-left: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}

.login-form-button {
    background-color: white !important;
    border: none !important;
    color: #2148C0 !important;
    margin-top: 2em;
    font-weight: bold !important;
}

.ant-form-item-control-input-content {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.reset-password {
    margin-top: 1em;
    text-align: end;
    color: white;
    cursor: pointer;
}

.ant-form-item-explain-error {
    text-align: start;
}

.imgLogo {
    background-image: url("../assets/stethoscope.png");
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    background-size: cover;
}